In [64]:
import database_utils
import data_extraction
import pandas as pd
import yaml

testing = data_extraction.DataExtractor()
db_connector = database_utils.DatabaseConnector()
db_connector.read_db_creds()
db_connector.init_db_creds()
df_testing = testing.read_rds_table('legacy_users', db_connector)

In [65]:
df_testing.set_index('index', inplace=True)
df_testing.info()
df_testing.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15320 entries, 0 to 1249
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     15320 non-null  object
 1   last_name      15320 non-null  object
 2   date_of_birth  15320 non-null  object
 3   company        15320 non-null  object
 4   email_address  15320 non-null  object
 5   address        15320 non-null  object
 6   country        15320 non-null  object
 7   country_code   15320 non-null  object
 8   phone_number   15320 non-null  object
 9   join_date      15320 non-null  object
 10  user_uuid      15320 non-null  object
dtypes: object(11)
memory usage: 1.4+ MB

,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
index,,,,,,,,,,,
0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579

In [66]:
df_testing['country'].value_counts()

United Kingdom    9371
Germany           4708
United States     1205
NULL                21
GMRBOMI0O1           1
7ZNO5EBALT           1
3518UD5CE8           1
RQRB7RMTAD           1
PNRMPSYR1J           1
5EFAFD0JLI           1
YOTSVPRBQ7           1
50KUU3PQUF           1
EWE3U0DZIV           1
XN9NGL5C0B           1
S0E37H52ON           1
XGI7FM0VBJ           1
AJ1ENKS3QL           1
I7G4DMDZOZ           1
T4WBZSW0XI           1
Name: country, dtype: int64

In [67]:
# viewing all the rows with values in the country column that looks like incorrect information
incorrect_info = df_testing[(df_testing['country'] == 'GMRBOMI0O1') | (df_testing['country'] == '7ZNO5EBALT') | (df_testing['country'] == '3518UD5CE8') | (df_testing['country'] == 'RQRB7RMTAD') | (df_testing['country'] == 'PNRMPSYR1J') | (df_testing['country'] == '5EFAFD0JLI') | (df_testing['country'] == 'YOTSVPRBQ7') | (df_testing['country'] == '50KUU3PQUF') | (df_testing['country'] == 'EWE3U0DZIV') | (df_testing['country'] == 'XN9NGL5C0B') | (df_testing['country'] == 'S0E37H52ON') | (df_testing['country'] == 'XGI7FM0VBJ') | (df_testing['country'] == 'AJ1ENKS3QL') | (df_testing['country'] == 'I7G4DMDZOZ') | (df_testing['country'] == 'T4WBZSW0XI')]
print(incorrect_info)

       first_name   last_name date_of_birth     company email_address  \
index
752    PYCLKLLC7I  W350SCUD6R    KBTI7FI7Y3  R7IZUNSQX0    3Q791B3VIY
1047   GI4C78KWH0  UTB5PPYFG8    OFH8YGZJWN  CA1XGS8GZW    7HSZB429UK
2997   DPAJNJL6PR  B8ZGN8ZJ84    PQPEUO937L  0YJ2FRMDB4    O5Q6D7FDAF
3539   E5139W1FJ3  X88YLZX0JX    7KGJ3C5TSW  648S19YUFF    BYU3R2LQF8
5309   XKDVQD7BH2  4YSEX8AY1Z    RQTF5XSXP4  GKJZ58DTHT    789HWCYC7M
6426   EI10BU4INS  SH6Y92V6IK    D2OZZHWOLK  LNFBRXXUT4    TFEA83AAHP
8398   I7IJDAPMIM  LUNRZWUKRB    QTVEU5TR8H  JXKOHA5B8F    JK2J6N4DLG
9026   TG6PAO2RAB  PIG6VAZUPM    L3E8OV4UAC  ROL0IMK6UH    EIV7XWUJ8I
10224  VCQL3ML6ZT  HULT86HONJ    TLSTUEIKI0  QSS0MWBGFZ    1WNILGM5MK
10373  G1SI2RM0KA  67VJEE6DS2    YTC82GP4XE  M4Z6M30SJ3    U1AZKY6URZ
11381  31XQ1Z35J9  8LR57D7RZ0    O1LIA1MT1N  66V9WU2HU1    XASHXWHN80
12197  2GU3G97VI1  91RL47Q2WC    RQI3KQXFBQ  D4KULDKYME    YM2YGPR8W1
13135  F3LGJ1NZ0I  IXWSZZ2VPN    1IA43NTJFB  9WSM9X17XK    M5ZDMLPP45
14124  DD0K0FUDRY  Q9U9JNG44F    M7HZECVQVC  DJXWS4B52O    X29OBIYMTI
14523  YWM71XYN17  PYC56FDP4V    6WAQ2SVK0Q  WGP4NBYFT6    6VIJ9KJU8P

          address     country country_code phone_number   join_date  \
index
752    YW2YXLOQ5J  I7G4DMDZOZ   VSM4IZ4EL3   A4Q4HQBI3I  JJ2PDVNPRO
1047   63GXGYR3XL  AJ1ENKS3QL   QVUW9JSKY3   64ZO0ONUQO  AHN6EKASH3
2997   Y1GY1G3EM5  XGI7FM0VBJ   0CU6LW3NKB   DU9UJ42F3E  FYF2FAPZF3
3539   GOWRW4JCE7  S0E37H52ON   PG8MOC0UZI   LJ6H5XBD2A  QH6Z9ZPX37
5309   KJW5WR7W16  XN9NGL5C0B   NTCGYW8LVC   MUXPJD0BZY  LYVWXBBI6F
6426   XGYW43ZF8B  50KUU3PQUF   FB13AKRI21   GA2YQ189FL  DM4Q84QZ03
8398   FW3EMRJ25W  EWE3U0DZIV   OS2P9CMHR6   G2D0EI6DT3  DOKMYDVV6L
9026   KHJLOAKCW2  GMRBOMI0O1   5D74J6FPFJ   65I9CX7VF2  YBUYH8T6OE
10224  R4HMRLEIXV  YOTSVPRBQ7   LZGTB0T5Z7   6VGTZ6ANEA  SRH5SM36LH
10373  N9D1AYQOJ0  5EFAFD0JLI   IM8MN1L9MJ   Y0AKRC4TUP  4JIOCHZY0W
11381  NZDOEJPB2M  PNRMPSYR1J   RVRFD92E48   CLGG66L3JK  3CUODA3HTC
12197  4M2VPXJHBE  RQRB7RMTAD   XKI9UXSCZ1   35OGAP18JU  8BAER2328P
13135  W5VT0DOEKO  3518UD5CE8   QREF9WLI2A   EIP7YUL5CE  U9CRKSTONU
14124  8EK3ZFIGXL  7ZNO5EBALT   XPVCZE2L8B   XBL6JO9DU6  9YLGYDEZNV
14523  NI3KEEZPTY  T4WBZSW0XI   44YAIDY048   QVAV1H2QVH  7PF0SMLXII

        user_uuid
index
752    W43MSCMQ88
1047   BUE34OU973
2997   56URKLG01W
3539   A1W2TVMK1S
5309   LNRNI6X6VL
6426   23WTQ63AET
8398   8FB8XB78NQ
9026   HEGG0N3ICG
10224  AKXDQ62K1V
10373  7JTCX4UVLK
11381  C7N3K5VF9U
12197  YIBFXQLD4A
13135  55II6WK8D2
14124  1YOGCW4V46
14523  7PYPXC0PPN

In [68]:
# now dropping all of the rows from incorrect_info df from the df_testing, using the index column to get the indexes of the rows i want to drop:
df_testing = df_testing.drop(incorrect_info.index)
df_testing['country'].value_counts()

United Kingdom    9371
Germany           4708
United States     1205
NULL                21
Name: country, dtype: int64

In [69]:
df_testing.head()

,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
index,,,,,,,,,,,
0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579

In [70]:
print(df_testing.index.name)

index

In [71]:
null_info = df_testing[(df_testing['country']=='NULL')]
print(null_info)

      first_name last_name date_of_birth company email_address address  \
index
867         NULL      NULL          NULL    NULL          NULL    NULL
1023        NULL      NULL          NULL    NULL          NULL    NULL
1807        NULL      NULL          NULL    NULL          NULL    NULL
2103        NULL      NULL          NULL    NULL          NULL    NULL
2439        NULL      NULL          NULL    NULL          NULL    NULL
6526        NULL      NULL          NULL    NULL          NULL    NULL
2764        NULL      NULL          NULL    NULL          NULL    NULL
4987        NULL      NULL          NULL    NULL          NULL    NULL
5310        NULL      NULL          NULL    NULL          NULL    NULL
6927        NULL      NULL          NULL    NULL          NULL    NULL
7747        NULL      NULL          NULL    NULL          NULL    NULL
10025       NULL      NULL          NULL    NULL          NULL    NULL
10237       NULL      NULL          NULL    NULL          NULL    NULL
11002       NULL      NULL          NULL    NULL          NULL    NULL
11459       NULL      NULL          NULL    NULL          NULL    NULL
11615       NULL      NULL          NULL    NULL          NULL    NULL
11778       NULL      NULL          NULL    NULL          NULL    NULL
11881       NULL      NULL          NULL    NULL          NULL    NULL
12110       NULL      NULL          NULL    NULL          NULL    NULL
12606       NULL      NULL          NULL    NULL          NULL    NULL
13879       NULL      NULL          NULL    NULL          NULL    NULL

      country country_code phone_number join_date user_uuid
index
867      NULL         NULL         NULL      NULL      NULL
1023     NULL         NULL         NULL      NULL      NULL
1807     NULL         NULL         NULL      NULL      NULL
2103     NULL         NULL         NULL      NULL      NULL
2439     NULL         NULL         NULL      NULL      NULL
6526     NULL         NULL         NULL      NULL      NULL
2764     NULL         NULL         NULL      NULL      NULL
4987     NULL         NULL         NULL      NULL      NULL
5310     NULL         NULL         NULL      NULL      NULL
6927     NULL         NULL         NULL      NULL      NULL
7747     NULL         NULL         NULL      NULL      NULL
10025    NULL         NULL         NULL      NULL      NULL
10237    NULL         NULL         NULL      NULL      NULL
11002    NULL         NULL         NULL      NULL      NULL
11459    NULL         NULL         NULL      NULL      NULL
11615    NULL         NULL         NULL      NULL      NULL
11778    NULL         NULL         NULL      NULL      NULL
11881    NULL         NULL         NULL      NULL      NULL
12110    NULL         NULL         NULL      NULL      NULL
12606    NULL         NULL         NULL      NULL      NULL
13879    NULL         NULL         NULL      NULL      NULL

In [72]:
df_testing = df_testing.drop(null_info.index)
print(df_testing['country'].value_counts())

United Kingdom    9371
Germany           4708
United States     1205
Name: country, dtype: int64

In [76]:
print(df_testing['country'].info())
print(df_testing['country_code'].info())
print(df_testing['company'].info())

<class 'pandas.core.series.Series'>
Int64Index: 15284 entries, 0 to 1249
Series name: country
Non-Null Count  Dtype
--------------  -----
15284 non-null  category
dtypes: category(1)
memory usage: 134.5 KB
None
<class 'pandas.core.series.Series'>
Int64Index: 15284 entries, 0 to 1249
Series name: country_code
Non-Null Count  Dtype
--------------  -----
15284 non-null  object
dtypes: object(1)
memory usage: 238.8+ KB
None
<class 'pandas.core.series.Series'>
Int64Index: 15284 entries, 0 to 1249
Series name: company
Non-Null Count  Dtype
--------------  -----
15284 non-null  object
dtypes: object(1)
memory usage: 238.8+ KB
None

In [77]:
df_testing['country'] = df_testing['country'].astype('category')
df_testing['country_code'] = df_testing['country_code'].astype('category')
df_testing['company'] = df_testing['company'].astype('category')

print(df_testing['country'].info())
print(df_testing['country_code'].info())
print(df_testing['company'].info())

<class 'pandas.core.series.Series'>
Int64Index: 15284 entries, 0 to 1249
Series name: country
Non-Null Count  Dtype
--------------  -----
15284 non-null  category
dtypes: category(1)
memory usage: 134.5 KB
None
<class 'pandas.core.series.Series'>
Int64Index: 15284 entries, 0 to 1249
Series name: country_code
Non-Null Count  Dtype
--------------  -----
15284 non-null  category
dtypes: category(1)
memory usage: 134.5 KB
None
<class 'pandas.core.series.Series'>
Int64Index: 15284 entries, 0 to 1249
Series name: company
Non-Null Count  Dtype
--------------  -----
15284 non-null  category
dtypes: category(1)
memory usage: 501.7 KB
None

In [75]:
df_testing['company'].describe()

count         15284
unique        12089
top       Smith Inc
freq             22
Name: company, dtype: object

In [78]:
df_testing['date_of_birth'].info()

<class 'pandas.core.series.Series'>
Int64Index: 15284 entries, 0 to 1249
Series name: date_of_birth
Non-Null Count  Dtype
--------------  -----
15284 non-null  object
dtypes: object(1)
memory usage: 238.8+ KB

In [79]:
df_testing['date_of_birth'].describe()

count          15284
unique         11344
top       1958-02-02
freq               6
Name: date_of_birth, dtype: object

In [83]:
phone_num_info = df_testing['phone_number'].str.contains('x')
phone_num_info2 = df_testing[phone_num_info]
phone_num_info2 = phone_num_info2['phone_number'].str.strip('x')
print(phone_num_info2['phone_number'])

index
5            277-664-6389x8405
27          (987)576-3015x3130
35           723-654-4681x6799
38            872.200.3110x563
61          174-394-0081x22030
                 ...
15240       237-753-6415x89234
15253    001-824-578-8658x6744
15289        191.040.0076x2520
773        +1-946-020-6951x300
12523     001-529-002-6940x260
Name: phone_number, Length: 695, dtype: object